p{
    background-color: aqua;
}
a{
    background-color: red;
}
div{
    background-color: yellowgreen;
}
span{
    background-color: tomato;
}
.red{

background-color: salmon;
}
#first{
    background-color: lightpink;
}